@model StandingOut.Data.DTO.NotificationModel

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
<script type="text/javascript">
    var html = '';
     var myCount = 1;
    var alertMessage = @Html.Raw(Json.Serialize(Model.UserAlertModel));
    var messageList =@Html.Raw(Json.Serialize(Model.MessageList));
    console.log(messageList);
    console.log(alertMessage);

</script>


@if (User.Identity.IsAuthenticated)
{
    if (Model.MessageList.Count > 0)
    {
        foreach (var item in Model.MessageList)
        {
            @*@Html.Raw("<p>")
                @Html.Raw(item.Heading)
                @Html.Raw("</p>")*@
            if (!string.IsNullOrEmpty(item.Condition))
            {
                <script>
                    var condition = @Html.Raw(item.Condition);
                    var canDelete =@Html.Raw(Json.Serialize(item.CanDelete));
                    var notificationMessageId =@Html.Raw(Json.Serialize(item.NotificationMessageId));
                    if (condition) {
                         @{
                             item.Body = item.Body
                                  .Replace("{SiteUrl}", Model.UserAlertModel.SiteUrl.ToString())
                                 .Replace("{Id}", Model.UserAlertModel.Id.ToString());

                             item.Heading=item.Heading
                                          .Replace("{DaysLeft}", Model.UserAlertModel.FreeDaysLeft.ToString());


                        }


                        if (myCount < 4) {
                             //.Replace("{msgId}", "onclick=\"updateIdVerification(" + item.NotificationMessageId.ToString().Trim() + ")\"");
                            html =html+ '<div id=@Html.Raw(Json.Serialize(item.NotificationMessageId)) class="Page__Container Page__Container--size:content" style="margin-top:10px;margin-bottom:10px">';
                            html =html+ '<div class="row">';
                            html =html+ '<div class="col-12">';
                            html = html + '<div class="Alert Alert--type:@item.AlertType" role="alert">';
                            html =html+ '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">';
                            html =html+ '<path fill-rule="evenodd" clip-rule="evenodd" d="M6.5 7.5C6.5 5.57 8.07 4 10 4C11.93 4 13.5 5.57 13.5 7.5C13.5 9.08 12.44 10.403 11 10.837V12C11 12.553 10.553 13 10 13C9.447 13 9 12.553 9 12V10C9 9.447 9.447 9 10 9C10.827 9 11.5 8.327 11.5 7.5C11.5 6.673 10.827 6 10 6C9.173 6 8.5 6.673 8.5 7.5C8.5 8.053 8.053 8.5 7.5 8.5C6.947 8.5 6.5 8.053 6.5 7.5ZM9 15C9 14.447 9.447 14 10 14C10.553 14 11 14.447 11 15C11 15.553 10.553 16 10 16C9.447 16 9 15.553 9 15ZM10 18C5.589 18 2 14.411 2 10C2 5.589 5.589 2 10 2C14.411 2 18 5.589 18 10C18 14.411 14.411 18 10 18ZM10 0C4.486 0 0 4.486 0 10C0 15.514 4.486 20 10 20C15.514 20 20 15.514 20 10C20 4.486 15.514 0 10 0Z" fill="#222B45" />';
                            html =html+ '</svg>';
                            html = html + '<div class="Alert__Text align-items-center justify-content-between w-100 flex-wrap felx-lg-no-wrap">';
                             @*html =html+ '@Html.Raw(item.NotificationIcon)';*@
                            html =html+ '<h5 class="cl-dark fw-700"> @item.Heading </h5>';
                            html = html + '<p class="fs-14 m-0 p-0" style="text-align:left;"> @Html.Raw(item.Body)</p>';
                            if (canDelete) { html = html + '<i style="margin-right: 2%;" class="fal fa-times Cursor--pointer" onclick=messageRead(@Html.Raw(Json.Serialize(item.NotificationMessageId)),@Html.Raw(Json.Serialize(Model.UserAlertModel.Id)))></i>'; }
                            html =html+ '</div>';
                            html =html+ '</div>';
                            html =html+ '</div>';
                            html =html+ '</div>';
                            html = html + '</div>';
                        }
                        myCount++;
                }
                </script>
            }
        }

        <script>
            window.onload = function () {
                $('#myAllMessage').html(html);
            };
            //setTimeout(function () {
            //    $('#myAllMessage').html(html);
            //}, 5000)

        </script>
    }

    <div id="myAllMessage"> </div>
}

<script>
    function messageRead(msgId, refId) {
        $.ajax({
            type: "get",
            url: "/api/users/readMessage/" + msgId + "/" + refId,
            contentType: "application/json",
            dataType: "json",
            success: function (response) {
                if (response) {
                    $("#" + msgId).hide();
                }
            },
            failure: function (error) {
                console.log(error);
            }
        });
    }
</script>

<script type="text/javascript">

    setTimeout(function () {
        var btnVerify = document.getElementById("btnVerify");
        if (typeof (btnVerify) != 'undefined' && btnVerify != null) {
            document.getElementById("btnVerify").disabled = false;
            document.getElementById("btnVerify").style.cursor = "pointer";
            document.getElementById("btnVerify").style.color = "#fff";
        }
    }, 60000);

    function updateIdVerification(oldMsgId) {
        $.ajax({
            type: "GET",
            url: "/pages/IDVerification",
            contentType: "application/json",
            dataType: "json",
            success: function (response) {
                if (response) {
                    toastr.success('Payout id verification update successfully')
                    window.location.reload();
                }
                else {
                    goForIdVerification();
                }
            },
            failure: function (error) {
                console.log(error);
            }
        });
    }
    window.mobileCheck = function () {
        let check = false;
        (function (a) { if (/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|mobile.+firefox|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows ce|xda|xiino/i.test(a) || /1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(a.substr(0, 4))) check = true; })(navigator.userAgent || navigator.vendor || window.opera);
        return check;
    };
    function goForIdVerification() {
        $('.loading').show();
        var h = 600;
        var w = 650;
        const y = window.top.outerHeight / 2 + window.top.screenY - (h / 2);
        const x = window.top.outerWidth / 2 + window.top.screenX - (w / 2);

        $.ajax({
            type: "GET",
            url: "/api/stripe/LoginLink",
            contentType: "application/json",
            dataType: "json",
            success: function (response) {
                if (window.mobileCheck()) {
                    window.open(response, '_blank');
                }
                else {
                    //window.open(response, '_blank', 'location=yes,height=600,width=650,scrollbars=yes,status=yes');
                    var payoutWin = window.open(response, 'stripe id verification', `toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=${w}, height=${h}, top=${y}, left=${x}`);
                    //window.open(response);
                    //setInterval(function () {
                    //    document.getElementById("btnVerify").disabled = false;
                    //    document.getElementById("btnVerify").style.cursor = "not-allowed";
                    //    if (payoutWin.closed) {
                    //        setTimeout(function () {
                    //            debugger;
                    //            document.getElementById("btnVerify").disabled = false;
                    //            document.getElementById("btnVerify").style.cursor = "pointer";
                    //        }, 30000)
                    //    }
                    //}, 1000);
                }
                $('.loading').hide();
            }
        })
        $('.loading').hide();
    }



</script>
